{include="header"}

{if condition="$kec->acceso"}
<div class="rounded">
   <h1>Administración</h1>
   {if condition="$kec->is_db_history_enabled()"}
      <a href="{$kec->url()}/disable_db_history">Desactivar historial SQL</a>
   {else}
      <a href="{$kec->url()}/enable_db_history">Activar historial SQL</a>
   {/if}
   | <a href="{$kec->url()}/clean_chat">Borrar el historial del chat</a>
   | <a href="{$kec->url()}/clean_searches">Borrar el historial de búsquedas</a>
   | <a href="{$kec->url()}/clean_log">Borrar el log</a>
</div>

<div class="rounded">
   <h1>Nuevos usuarios:</h1>
   <ul class="horizontal">
      {loop="$kec->user->new_users()"}
      <li><a href="{$value->url()}">{$value->nick}</a> ({$value->created_timesince()})</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>Ultimos logins:</h1>
   <ul class="horizontal">
      {loop="$kec->user->last_logged()"}
      <li><a href="{$value->url()}">{$value->nick}</a> ({$value->last_log_in_timesince()})</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>TOP páginas:</h1>
   <ul class="horizontal">
      {loop="$kec->log->get_stats()"}
      <li><a href="{$value.0}">{$value.0}</a> ({$value.1})</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <table width="100%">
      <tr>
         <th>Fecha</th>
         <th>IP</th>
         <th>Navegador</th>
         <th>URL</th>
         <th>Información</th>
      </tr>
      {loop="$kec->log->get_history()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td>{$value->ip}</td>
         <td>{$value->browser}</td>
         <td><a href="{$value->url}">{$value->url}</a></td>
         <td>{$value->info}</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

{include="footer"}