{include="header"}

{if condition="$kec->scommunity"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_edit_community").click(function(event) {
         event.preventDefault();
         $("#shadow_box").show();
         $('#popup_edit_community').css({
            left: ($(window).width() - $('#popup_edit_community').outerWidth())/2,
            top: ($(window).height() - $('#popup_edit_community').outerHeight())/2
         });
         $('#popup_edit_community').show();
      });
      $("#b_delete_community").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente deseas eliminar esta comunidad?") )
         {
            document.f_delete.delete_community.value = '{$kec->scommunity->id}';
            document.f_delete.submit();
         }
      });
   });
</script>

<form name="f_delete" action="{$kec->url()}" method="post">
   <input type="hidden" name="delete_community"/>
</form>

<div class="rounded">
   <h1>
      {$kec->scommunity->name}
      <a href="{$kec->url()}"><img src="{$kec->get_path()}view/img/refresh.png" alt="actualizar" title="actualizar"/></a>
      <span>
         Creada {$kec->scommunity->created_timesince()}
         {if condition="$kec->user"}
            {if condition="$kec->user->is_admin()"}
               &nbsp; <a class="button" id="b_edit_community" href="#">editar</a>
            {/if}
         {/if}
      </span>
   </h1>
   <table width="100%">
      <tr>
         <td valign="top">
            {$kec->scommunity->description}
            <br/><br/>
            {if condition="$kec->user"}
               {if condition="$kec->scommunity->user_is_member($kec->user->id)"}
                  <a class="button" href="{$kec->url()}/leave">abandonar</a>
               {else}
                  <a class="button" href="{$kec->url()}/join">unirte</a>
               {/if}
            {/if}
         </td>
         <td valign="top" align="right">
            <g:plusone size="tall"></g:plusone>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{$kec->scommunity->url(TRUE)}" data-lang="en" data-count="vertical">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </td>
      </tr>
   </table>
</div>

{if condition="$kec->user"}
   {if condition="$kec->user->is_admin()"}
   <form name="f_edit_community" action="{$kec->url()}" method="post">
   <input type="hidden" name="edit_community" value="TRUE"/>
   <div class="popup" id="popup_edit_community">
      <h1>
         Editar:
         <span>
            <input type="button" id="b_delete_community" value="eliminar"/> &nbsp;
            <input type="submit" value="guardar"/>
         </span>
      </h1>
      <input type="text" name="description" size="90" maxlength="200" value="{$kec->scommunity->description}"/>
   </div>
   </form>
   {/if}
{/if}

<div class="rounded">
   <h1>Preguntas:</h1>
   <div class="questions">
      {loop="$kec->scommunity->get_questions()"}
      <div class="question_box">
         <div class="reward">{$value->reward}</div>
         <a class="question" href="{$value->url()}">
            <span class="tag">{$value->get_status()}</span>
            {if condition="$value->user"}
               <span class="nick">{$value->user->nick}</span>
            {else}
               <b>usuario anónimo</b>
            {/if}
            <span class="num_answers">{$value->num_answers}</span>
            <span class="date">{$value->updated_timesince()}</span>
            <div class="resume">{$value->resume()}</div>
         </a>
      </div>
      {/loop}
   </div>
</div>

   {if condition="$kec->scommunity->num_users > 0"}
   <div class="rounded">
   <h1>
      Miembros:
      <span class="num_answers">{$kec->scommunity->num_users}</span>
   </h1>
   <ul class="horizontal">
   {loop="$kec->scommunity->get_users()"}
      <li><a href="{$value->url()}">{$value->nick}</a></li>
   {/loop}
   </ul>
   </div>
   {/if}
{/if}

{include="footer"}