{include="header"}

{if condition="$kec->scommunity"}
<div class="rounded">
   <h1>
      <a href="{$kec->url()}">{$kec->scommunity->name}</a>
      {if condition="$kec->user"}
      <span>
         {if condition="$kec->scommunity->user_is_member($kec->user->id)"}
            <a class="button" href="{$kec->url()}/leave">abandonar</a>
         {else}
            <a class="button" href="{$kec->url()}/join">unirte</a>
         {/if}
      </span>
      {/if}
   </h1>
   <span class="date">Creada {$kec->scommunity->created_timesince()}</span>
   {$kec->scommunity->description}
</div>

<div class="rounded">
   <h1>Preguntas:</h1>
   <div class="questions">
      {loop="$kec->scommunity->get_questions()"}
      <div class="question_box">
         <div class="reward">{$value->reward}</div>
         <a class="question" href="{$value->url()}">
            <span class="tag">{$value->get_status()}</span>
            {if condition="$value->user"}
               <span class="nick">{$value->user->nick}</span>
            {else}
               <b>usuario anónimo</b>
            {/if}
            <span class="num_answers">{$value->num_answers}</span>
            <span class="date">{$value->updated_timesince()}</span>
            <div class="resume">{$value->resume()}</div>
         </a>
      </div>
      {/loop}
   </div>
</div>

<div class="rounded">
   <h1>
      Miembros:
      <span class="num_answers">{$kec->scommunity->num_users}</span>
   </h1>
   <ul class="horizontal">
   {loop="$kec->scommunity->get_users()"}
      <li><a href="{$value->url()}">{$value->nick}</a></li>
   {/loop}
   </ul>
</div>
{/if}

{include="footer"}