{include="header"}

<div class="rounded">
   <h1>Resultados de "{$kec->search->query}":</h1>
   <div class="questions">
      {loop="$kec->resultado"}
      <div class="question_box">
         <div class="reward">{$value->reward}</div>
         <a class="question" href="{$value->url()}">
            <span class="tag">{$value->get_status()}</span>
            {if condition="$value->user"}
               <span class="nick">{$value->user->nick}</span>
            {else}
               <b>Usuario anónimo</b>
            {/if}
            <span class="num_answers">{$value->num_answers}</span>
            <span class="date">{$value->updated_timesince()}</span>
            <div class="resume">{$value->resume()}</div>
         </a>
      </div>
      {else}
         <div class="message">No hemos encontrado ninguna pregunta relacionada,
            pero no te desanimes, pulsa el botón <b>nueva pregunta</b> situado arriba
            a la izquierda y escribe tu pregunta, la contestaremos lo antes posible.
            Y si inicias sesión (si no tienes una cuenta, créala) te enviaremos las
            respuestas por email.</div>
      {/loop}
   </div>
</div>

{include="footer"}