{include="header"}

{if condition="$kec->user"}
<div class="rounded">
   <form action="{$kec->url()}" method="post">
      <h1>
         Tus datos:
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <input type="hidden" name="edit_user" value="edit_user"/>
      Nueva contraseña: <input type="password" name="npassword" size="10" maxlength="10"/>
      Repite la contraseña: <input type="password" name="npassword2" size="10" maxlength="10"/>
      {if condition="$kec->user->no_emails"}
         <input id="ch_user_noemails" type="checkbox" name="noemails" value="TRUE" checked="checked"/>
      {else}
         <input id="ch_user_noemails" type="checkbox" name="noemails" value="TRUE"/>
      {/if}
      <label for="ch_user_noemails">no recibir emails</label>
   </form>
</div>

<div class="rounded">
   <h1>
      Notificaciones:
      <span><a class="link" href="{$kec->user->url()}">ver tu perfil</a></span>
   </h1>
   {loop="$kec->user->get_notifications()"}
   <div class="answers">
      {if condition="$counter%2+1==1"}
      <div class="answer_box">
      {else}
      <div class="answer_box2">
      {/if}
         <div class="answer">
            <a href="{$value->link}" target="_blank">Ver enlace</a>
            <span class="date">{$value->timesince()}</span>
            <div class="long_text">{$value->text}</div>
         </div>
      </div>
   </div>
   {/loop}
</div>
{else}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_password_forgotten").click(function(event) {
         event.preventDefault();
         var email = prompt("¿Cúal es tu email?");
         if( email != '' )
         {
            document.f_forgotten.password_forgotten.value = email;
            document.f_forgotten.submit();
         }
      });
   });
</script>

<table width="100%">
   <tr>
      <td valign="top">
      <div class="rounded">
      <form action="{$kec->url()}" method="post">
         <h1>
            ¿Tienes una cuenta?
            <span><input type="submit" value="entrar"/></span>
         </h1>
         Email: <input type="text" name="l_email" maxlength="50"/>
         Contraseña: <input type="password" name="l_password" size="10" maxlength="10"/>
      </form>
      <form name="f_forgotten" action="{$kec->url()}" method="post">
         <a id="b_password_forgotten" href="#">he olvidado mi contraseña</a>
         <input type="hidden" name="password_forgotten" value=""/>
      </form>
      </div>
      </td>
      <td valign="top">
      <form action="{$kec->url()}" method="post">
      <div class="rounded">
         <h1>
            ¿NO tienes una cuenta?
            <span><input type="submit" value="registrarse"/></span>
         </h1>
         Nick: <input type="text" name="n_nick" size="16" maxlength="16"/>
         Email: <input type="text" name="n_email" maxlength="50"/>
         Contraseña: <input type="password" name="n_password" size="10" maxlength="10"/>
      </div>
      </form>
      </td>
   </tr>
</table>
{/if}

{include="footer"}