{include="header"}

{if condition="$kec->question"}
<script type="text/javascript">
   function vote_answer(aid, positive)
   {
      var texto;
      if(positive)
         texto = 'vote_answer='+aid+'&points=1';
      else
         texto = 'vote_answer='+aid+'&points=-1';
      $.ajax({
         type: 'POST',
         url: '{$kec->url()}',
         dataType: 'html',
         data: texto,
         success: function(datos) {
            if(datos.substring(0, 2) == 'OK')
            {
               var messg2 = datos.split(';');
               $("#answer_grade_"+messg2[1]).html(messg2[2]);
               $("#current_user_points").html(messg2[3]);
            }
            else
               alert(datos);
         }
      });
   }
   function mark_solution(aid)
   {
      if( confirm("¿Estás seguro de que deseas marcar esta respuesta como la solución?") )
      {
         $.ajax({
            type: 'POST',
            url: '{$kec->url()}',
            dataType: 'html',
            data: 'mark_solution='+aid,
            success: function(datos) {
               if(datos == 'OK')
                  window.location.reload();
               else
                  alert(datos);
            }
         });
      }
   }
   $(document).ready(function() {
      $("#add_reward").click(function(event) {
         event.preventDefault();
         $.ajax({
            type: 'POST',
            url: '{$kec->url()}',
            dataType: 'html',
            data: 'add_reward=1',
            success: function(datos) {
               if(datos.substring(0, 2) == 'OK')
               {
                  var messg2 = datos.split(';');
                  $("#current_user_points").html(messg2[2]);
                  $("#question_reward").html(messg2[1]);
               }
               else
                  alert(datos);
            }
         });
      });
   });
</script>

<div class="rounded">
   <h1>
      <a href="{$kec->url()}">{$kec->question->get_status()}</a>
      <span>
         creada {$kec->question->created_timesince()},
         modificada {$kec->question->updated_timesince()}
      </span>
   </h1>
   <table width="100%">
      <tr>
         <td valign="top" width="90">
            <div class="reward2">
               <span id="question_reward">{$kec->question->reward}</span>
               <a href="#" id="add_reward" title="añadir un punto a la recompensa">+1 punto</a>
            </div>
         </td>
         <td>
            <div>
               {if condition="$kec->question->user"}
               <a class="nick" href="{$kec->question->user->url()}">{$kec->question->user->nick}</a>
               {else}
               <b>usuario anónimo</b>
               {/if}
               {loop="$kec->question->get_communities()"}
               <a class="community" href="{$value->url()}">{$value->name}</a>
               {/loop}
            </div>
            <div class="long_text">{$kec->question->text2html()}</div>
         </td>
      </tr>
   </table>
</div>

<div class="rounded">
   <h1>
      Respuestas:
      <span class="num_answers">{$kec->question->num_answers}</span>
   </h1>
   <div class="answers">
   {loop="$kec->question->get_answers()"}
      {if condition="$counter%2+1==1"}
      <div class="answer_box">
      {else}
      <div class="answer_box2">
      {/if}
         <div class="grade_buttons">
            <div class="add_grade" onclick="vote_answer('{$value->id}', true)" title="votar positivamente">+</div>
            <div class="minus_grade" onclick="vote_answer('{$value->id}', false)" title="votar negativamente">-</div>
         </div>
         <div class="grade" id="answer_grade_{$value->id}" title="valoración de la respuesta">{$value->grade}</div>
         <div class="answer">
            <a name="{$value->num}">@{$value->num} </a>
            {if condition="$value->user"}
               <a class="nick" href="{$value->user->url()}">{$value->user->nick}</a>
            {else}
               <b>usuario anónimo</b>
            {/if}
            <span class="date">{$value->created_timesince()}</span>
            <div class="long_text">{$value->text2html()}</div>
         </div>
         {if condition="$kec->user"}
            {if condition="$kec->user->is_admin()"}
            <div class="option_buttons">
               <a href="#{$value->num}" onclick="mark_solution('{$value->id}')">esta es la solución</a>
               <a href="{$kec->url()}">editar</a>
               <a href="{$kec->url()}">borrar</a>
            </div>
            {else}
               {if condition="!$kec->question->is_solved() AND $kec->question->user_id==$kec->user->id"}
               <div class="option_buttons">
                  <a href="#{$value->num}" onclick="mark_solution('{$value->id}')">esta es la solución</a>
               </div>
               {/if}
            {/if}
         {/if}
      </div>
   {/loop}
   </div>
   <div>
      <form action="{$kec->url()}" method="post">
         <textarea name="respuesta" rows="10" cols="90"></textarea>
         <input type="submit" value="enviar"/>
         <a href="{$kec->get_path()}help#bbcode" target="_Blank">BBcode habilitado</a> |
         <a href="http://www.imgur.com" target="_Blank">Puedes insertar imágenes usando el servicio imgur (pega aquí el BBcode)</a>
      </form>
   </div>
</div>
{/if}

{include="footer"}