{include="header"}

{if condition="$kec->question"}
<script type="text/javascript">
   function vote_answer(aid, positive)
   {
      var texto;
      if(positive)
         texto = 'vote_answer='+aid+'&points=1';
      else
         texto = 'vote_answer='+aid+'&points=-1';
      $.ajax({
         type: 'POST',
         url: '{$kec->url()}',
         dataType: 'html',
         data: texto,
         success: function(datos) {
            if(datos.substring(0, 2) == 'OK')
            {
               var messg2 = datos.split(';');
               $("#answer_grade_"+messg2[1]).html(messg2[2]);
               $("#current_user_points").html(messg2[3]);
            }
            else
               alert(datos);
         }
      });
   }
   function mark_solution(aid)
   {
      if( confirm("¿Estás seguro de que deseas marcar esta respuesta como la solución?") )
      {
         $.ajax({
            type: 'POST',
            url: '{$kec->url()}',
            dataType: 'html',
            data: 'mark_solution='+aid,
            success: function(datos) {
               if(datos == 'OK')
                  window.location.reload();
               else
                  alert(datos);
            }
         });
      }
   }
   function edit_answer(num)
   {
      $("#shadow_box").show();
      $('#popup_edit_answer_'+num).show();
      $('#popup_edit_answer_'+num).css({
         left: ($(window).width() - $('#popup_edit_answer_'+num).outerWidth())/2,
         top: ($(window).height() - $('#popup_edit_answer_'+num).outerHeight())/2
      });
   }
   function delete_answer(num)
   {
      if( confirm("¿Realmente deseas eliminar esta respuesta?") )
      {
         document.f_delete.delete_answer.value = num;
         document.f_delete.submit();
      }
   }
   $(document).ready(function() {
      $("#add_reward").click(function(event) {
         event.preventDefault();
         $.ajax({
            type: 'POST',
            url: '{$kec->url()}',
            dataType: 'html',
            data: 'add_reward=1',
            success: function(datos) {
               if(datos.substring(0, 2) == 'OK')
               {
                  var messg2 = datos.split(';');
                  $("#current_user_points").html(messg2[2]);
                  $("#question_reward").html(messg2[1]);
               }
               else
                  alert(datos);
            }
         });
      });
      $("#b_edit_question").click(function(event) {
         event.preventDefault();
         $("#shadow_box").show();
         $('#popup_edit_question').css({
            left: ($(window).width() - $('#popup_edit_question').outerWidth())/2,
            top: ($(window).height() - $('#popup_edit_question').outerHeight())/2
         });
         $('#popup_edit_question').show();
      });
      $("#b_delete_question").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente deseas eliminar esta pregunta?") )
         {
            document.f_delete.delete_question.value = '{$kec->question->id}';
            document.f_delete.submit();
         }
      });
   });
</script>

<form name="f_delete" action="{$kec->url()}" method="post">
   <input type="hidden" name="delete_question"/>
   <input type="hidden" name="delete_answer"/>
</form>

<div class="rounded">
   <h1>
      <a href="{$kec->url()}">{$kec->question->get_status()}</a>
      <span>
         creada {$kec->question->created_timesince()},
         modificada {$kec->question->updated_timesince()}
         {if condition="$kec->can_edit"}
            &nbsp; <a id="b_edit_question" class="button" href="#">editar</a>
         {/if}
      </span>
   </h1>
   <table width="100%">
      <tr>
         <td valign="top" width="90">
            <div class="reward2">
               <span id="question_reward">{$kec->question->reward}</span>
               <a href="#" id="add_reward" title="añadir un punto a la recompensa">+1 punto</a>
            </div>
         </td>
         <td>
            <div>
               {if condition="$kec->question->user"}
               <a class="nick" href="{$kec->question->user->url()}">{$kec->question->user->nick}</a>
               {else}
               <b>usuario anónimo</b>
               {/if}
               {loop="$kec->question->get_communities()"}
               <a class="community" href="{$value->url()}">{$value->name}</a>
               {/loop}
            </div>
            <div class="long_text">{$kec->question->text2html()}</div>
         </td>
         <td valign="top" align="right">
            <g:plusone size="tall"></g:plusone>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
         </td>
      </tr>
   </table>
</div>

{if condition="$kec->can_edit"}
<div class="popup" id="popup_edit_question">
   <form action="{$kec->url()}" method="post">
      <h1>
         Editar la pregunta:
         <span>
            {if condition="$kec->user->is_admin()"}
               <input id="b_delete_question" type="button" value="eliminar"/> &nbsp;
            {/if}
            <input type="submit" value="modificar"/>
         </span>
      </h1>
      <input type="hidden" name="edit_question_id" value="{$kec->question->id}"/>
      <textarea name="edit_question" cols="90" rows="20">{$kec->question->text}</textarea>
      <b>Comunidades:</b>
      {loop="$kec->community->all()"}
         {if condition="in_array($value, $kec->question->communities)"}
            <input id="edit_ch_comm_{$value->id}" type="checkbox" name="community[]" value="{$value->id}" checked="checked"/>
         {else}
            <input id="edit_ch_comm_{$value->id}" type="checkbox" name="community[]" value="{$value->id}"/>
         {/if}
         <label for="edit_ch_comm_{$value->id}">{$value->name}</label> &nbsp;
      {/loop}
      <b>Estado de la pregunta:</b>
      <select name="status">
         {loop="$kec->question->get_status_array()"}
            {if condition="$value.num==$kec->question->status"}
               <option value="{$value.num}" selected="selected">{$value.text}</option>
            {else}
               <option value="{$value.num}">{$value.text}</option>
            {/if}
         {/loop}
      </select>
   </form>
</div>
{/if}

<div class="rounded">
   <h1>
      Respuestas:
      <span class="num_answers">{$kec->question->num_answers}</span>
   </h1>
   <div class="answers">
   {loop="$kec->question->get_answers()"}
      {if condition="$counter%2+1==1"}
      <div class="answer_box">
      {else}
      <div class="answer_box2">
      {/if}
         <div class="grade_buttons">
            <div class="add_grade" onclick="vote_answer('{$value->id}', true)" title="votar positivamente">+</div>
            <div class="minus_grade" onclick="vote_answer('{$value->id}', false)" title="votar negativamente">-</div>
         </div>
         <div class="grade" id="answer_grade_{$value->id}" title="valoración de la respuesta">{$value->grade}</div>
         <div class="answer">
            <a name="{$value->num}">@{$value->num} </a>
            {if condition="$value->user"}
               <a class="nick" href="{$value->user->url()}">{$value->user->nick}</a>
            {else}
               <b>usuario anónimo</b>
            {/if}
            <span class="date">{$value->created_timesince()}</span>
            <div class="long_text">{$value->text2html()}</div>
         </div>
         {if condition="$kec->user"}
            {if condition="$kec->user->is_admin()"}
            <div class="option_buttons">
               <a href="#{$value->num}" onclick="mark_solution('{$value->id}')">esta es la solución</a>
               <a href="#" onclick="edit_answer('{$value->id}')">editar</a>
            </div>
            {else}
               {if condition="!$kec->question->is_solved() AND $kec->question->user_id==$kec->user->id"}
               <div class="option_buttons">
                  <a href="#{$value->num}" onclick="mark_solution('{$value->id}')">esta es la solución</a>
               </div>
               {/if}
            {/if}
         {/if}
      </div>
   {/loop}
   </div>
   <div>
      <form action="{$kec->url()}" method="post">
         <textarea name="new_answer" rows="10" cols="90"></textarea>
         {if condition="!$kec->user"}
            {$kec->captcha->get_html()}
         {/if}
         <input type="submit" value="enviar"/>
         <a href="{$kec->get_path()}help#bbcode" target="_Blank">BBcode habilitado</a> |
         <a href="http://www.imgur.com" target="_Blank">Puedes insertar imágenes usando el servicio imgur (pega aquí el BBcode)</a>
      </form>
   </div>
</div>

{if condition="$kec->user"}
   {if condition="$kec->user->is_admin()"}
      {loop="$kec->question->get_answers()"}
      <div id="popup_edit_answer_{$value->id}" class="popup">
         <form action="{$kec->url()}" method="post">
            <h1>
               Editar respuesta:
               <span>
                  <input type="button" value="eliminar" onclick="delete_answer('{$value->id}')"/> &nbsp;
                  <input type="submit" value="modificar"/>
               </span>
            </h1>
            <input type="hidden" name="edit_answer_id" value="{$value->id}"/>
            <textarea name="edit_answer" cols="90" rows="20">{$value->text}</textarea>
         </form>
      </div>
      {/loop}
   {/if}
{/if}
{/if}

{include="footer"}