{include="header"}

{if condition="$kec->suser"}
<div class="rounded">
   <table width="100%">
      <tr>
         <td width="85" valign="top">
            <a href="http://es.gravatar.com" target="_blank"><img src="{$kec->suser->get_gravatar_url()}" alt="{$kec->suser->nick}"/></a>
         </td>
         <td valign="top">
            <h1>
               {$kec->suser->nick}
               <a href="{$kec->url()}"><img src="{$kec->get_path()}view/img/refresh.png" alt="actualizar" title="actualizar"/></a>
               <span>{$kec->suser->points} puntos</span>
            </h1>
            <span class="date">Creado {$kec->suser->created_timesince()}</span>
            Es miembro de:
            {loop="$kec->suser->get_communities()"}
               <a class="community" href="{$value->url()}">{$value->name}</a>
            {/loop}
         </td>
      </tr>
   </table>
</div>

<div class="rounded">
   <h1>
      Preguntas creadas o contestadas por {$kec->suser->nick}:
      <span>
         Orden:
         {if condition="$kec->order=='author'"}
            <a class="selected" href="{$kec->url()}/author">autor</a>
         {else}
            <a href="{$kec->url()}/author">autor</a>
         {/if}
         |
         {if condition="$kec->order=='status'"}
            <a class="selected" href="{$kec->url()}/status">estado</a>
         {else}
            <a href="{$kec->url()}/status">estado</a>
         {/if}
         |
         {if condition="$kec->order=='created'"}
            <a class="selected" href="{$kec->url()}/created">fecha de creación</a>
         {else}
            <a href="{$kec->url()}/created">fecha de creación</a>
         {/if}
         |
         {if condition="$kec->order=='updated'"}
            <a class="selected" href="{$kec->url()}/updated">fecha de modificación</a>
         {else}
            <a href="{$kec->url()}/updated">fecha de modificación</a>
         {/if}
         |
         {if condition="$kec->order=='reward'"}
            <a class="selected" href="{$kec->url()}/reward">recompensa</a>
         {else}
            <a href="{$kec->url()}/reward">recompensa</a>
         {/if}
      </span>
   </h1>
   <div class="questions">
      {loop="$kec->resultado"}
      <div class="question_box">
         <div class="reward">{$value->reward}</div>
         <a class="question" href="{$value->url()}">
            <span class="tag">{$value->get_status()}</span>
            {if condition="$value->user"}
               <span class="nick">{$value->user->nick}</span>
            {else}
               <b>usuario anónimo</b>
            {/if}
            <span class="num_answers">{$value->num_answers}</span>
            <span class="date">{$value->updated_timesince()}</span>
            <div class="resume">{$value->resume()}</div>
         </a>
      </div>
      {/loop}
   </div>
   
   <table width="100%">
      <tr>
         <td>
            {if condition="$kec->anterior_url()!=''"}
            <a class="next" href="{$kec->anterior_url()}">anterior</a>
            {/if}
         </td>
         <td align="right">
            {if condition="$kec->siguiente_url()!=''"}
            <a class="next" href="{$kec->siguiente_url()}">siguiente</a>
            {/if}
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}